.loginDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
}

.loginForm {
    height: 20em;
    width: 20em;
    align-items: center;
    justify-content: center;
}

.registerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

.registeerForm {
    height: 60em;
    width: 20em;
    padding: 2em;
    align-items: center;
    justify-content: center;
}