# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
frontend/isenconnect/node_modules
frontend/isenconnect/npm-debug.log
frontend/isenconnect/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
frontend/isenconnect/.vscode/*
frontend/isenconnect/!.vscode/settings.json
frontend/isenconnect/!.vscode/tasks.json
frontend/isenconnect/!.vscode/launch.json
frontend/isenconnect/!.vscode/extensions.json
frontend/isenconnect/.history/*

# Miscellaneous
frontend/isenconnect/.angular/cache
frontend/isenconnect/.sass-cache/
frontend/isenconnect/connect.lock
frontend/isenconnect/coverage
frontend/isenconnect/libpeerconnection.log
frontend/isenconnect/testem.log
frontend/isenconnect/typings

# System files
frontend/isenconnect/.DS_Store
frontend/isenconnect/Thumbs.db
