input[type="text"][disabled] {
    color: black;
}

.font {
    color: black;
}

.container {
    padding-top: 2em;

    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    row-gap: 0.5em;
    
}

.image-avatar {
    width: 20em;
    height: 20em;
}

.avatar {
    padding: 0.8em;
}

.listEventUser {
    padding: 0.8em;
}

.listFavoris {
    padding: 0.8em;
}